# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Package Files#
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Test results
results/

#Items full data
items/full/*

#Compilation output
out/